<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Creatuity\OptimumImages\Ui\Component\Slider\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">creatuity_optimumimages_slider_form.creatuity_optimumimages_slider_form</argument>
        </arguments>
    </virtualType>
    <virtualType name="Creatuity\OptimumImages\Ui\Component\Image\SaveSplitButton" type="Magento\Backend\Ui\Component\Control\SaveSplitButton">
        <arguments>
            <argument name="targetName" xsi:type="string">creatuity_optimumimages_image_form.creatuity_optimumimages_image_form</argument>
        </arguments>
    </virtualType>
</config>
