<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Creatuity_OptimumImages::images"
             title="Optimum Images"
             module="Creatuity_OptimumImages"
             sortOrder="60"
             resource="Creatuity_OptimumImages::images"
             parent="Magento_Backend::content_elements"
             action="creatuity_optimumimages/images" />
        <add id="Creatuity_OptimumImages::sliders"
             title="Optimum Sliders"
             module="Creatuity_OptimumImages"
             sortOrder="70"
             resource="Creatuity_OptimumImages::sliders"
             parent="Magento_Backend::content_elements"
             action="creatuity_optimumimages/sliders" />
    </menu>
</config>